*{
    margin: 0;
    display: 0;
}

$bg-color: rgb(2, 91, 143);
$text-color: rgb(255, 255, 255);

body{
    background-color: $bg-color;
}

h1, .texto{
    color: $text-color;
}

h1, .divisor, .texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
}

.container{
    display: flex;
    flex-direction: row;
    width: 35%;
    text-align: center;
    margin-left: 33%;

    .explicacion{
        color: yellow;
    }
}

.foto{
    #naturaleza{
        margin: 5px;
    }
    #gato{
        margin: 5px;
    }
    #perro{
        margin: 5px;
    }
    #pajaro{
        margin: 5px;
    }
}

$redes: (
    size1: 20px,
    size2: 40px,
    size3: 80px,
);

$redes2: (
    color1: yellow,
    color2: magenta,
    color3: red,
);

@each $key, $value in $redes {
    .red--#{$key} {
        font-size: $value;
    }
}

@each $key2, $value2 in $redes2 {
    .red--#{$key2} {
        color: $value2;
    }
}

@mixin margenes($margin) {
    margin: $margin;
}

@mixin textShadow($textShadow) {
    text-shadow: 1px 1px 1px black;
    font-family: cursive;
}

@for $i from 1 through 3 {
    .red--color#{$i} {
        @include margenes(10px);
        @include textShadow(black);
        font-family: sans-serif;   
        @extend .texto;
    }
}

.map-get{
    font-size: map-get($map: $redes, $key: size2);
    color: map-get($map: $redes2, $key: color3);
}